# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# Put csv into a dataframe
filepath = '../WeatherPy/output_data/cities1.csv'
city_df = pd.read_csv(filepath)

In [6]:

city_df.head(10)

,Unnamed: 0,City,Longitude,Latitude,Temperature,Humidity,Cloudiness,Wind Speed
0,0,ponta do sol,-17.10,32.67,71.492,43,20,9.80
1,1,nanortalik,-45.24,60.14,45.752,90,100,3.06
2,2,albany,-73.97,42.60,81.302,60,33,1.08
3,3,ushuaia,-68.30,-54.80,32.270,93,90,5.70
4,4,punta arenas,-70.92,-53.15,37.472,88,40,6.20
5,5,rikitea,-134.97,-23.12,68.504,71,17,7.06
6,6,new norfolk,147.06,-42.78,43.070,86,100,1.06
7,7,dinan,-2.25,48.42,63.356,88,86,3.10
8,8,ketchikan,-131.65,55.34,59.972,77,90,4.10
9,9,barrow,-156.79,71.29,35.870,80,90,6.20

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure